.idea
node_modules/
__pycache__
*.pyc
.env
.pytest_cache
.mypy_cache
_temp
temp
.docker-compose.yml
agent.json
ansible/*.retry
ansible/development*.yml
ansible/tasks/development*.yml
ansible/templates/development*.j2
/env
build
dist
flow-typed
*.egg-info
yarn.lock
api/media/*
package-lock.json
api/files/*